.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;

    &_collapse {
        width: 90%;
        margin-top: 5vh;
        
    }
}