.container_carousel {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    height: 600px;
    border-radius: 25px;

    &_item {
        overflow: hidden;
        border-radius: 25px;

        &_picture {
            position: relative;
            width: 100%;
            height: 600px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &_button_G {
                position: absolute;
                top: 45%;
                left: 0;
                rotate: 180deg;
                
                :hover {
                    filter: brightness(0.8);            
                }
                
            }

            &_button_D {
                position: absolute;
                top: 45%;
                right: 0;
                
                :hover {
                    filter: brightness(0.8);            
                }

            }
        }
    }
}