.collapse {
  background-color: $grey;
  border-radius: 10px;
  font-weight: 400;

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pink;
    color: $white;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;

    .arrow {
      height: 15px;

      &.arrow_up {
        transform: rotate(0deg);
        transition: 800ms;
      }

      &.arrow_down {
        transform: rotate(180deg);
        transition: 800ms;
      }
    }
  }

  &_content {
    overflow: hidden;
    height: 0px;

    &_hidden {
      height: auto;
      padding: 4% 2% 4% 2%;
      color: $pink;
    }
  }
}