.collapse {
  background-color: $grey;
  border-radius: 10px;
  font-weight: 400;

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: $white;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;

    @include for-tablet {
      padding: 12px;
    }

    @include for-mobile {
      padding: 10px;
    }

    .arrow {
      height: 15px;

      @include for-tablet {
        height: 10px;
        margin-left: 5px;
      }

      @include for-mobile {
        height: 8px;
        margin-left: 5px;
      }

      &.arrow_up {
        transform: rotate(0deg);
        transition: 800ms;
      }

      &.arrow_down {
        transform: rotate(180deg);
        transition: 800ms;
      }
    }
  }

  &_content {
    overflow: hidden;
    height: 0px;

    &_hidden {
      height: auto;
      padding: 4% 2% 4% 2%;
      color: $pink;
    }
  }
}