.footer {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $black;
    height: 200px;
    padding-bottom: 5vh;

    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        &_paragraphe {
            margin-top: 3vh;
            text-align: center;
            color: $white;
        }
    }
}