.header {
    display: flex;

    &_logo {
        @include for-tablet {
            width: 100%;
        }
    }


    &_nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @include for-tablet {
            width: 80%;
            text-transform: uppercase;
        }

        &_onglets {
            display: flex;
            list-style: none;
            align-items: center;

            &_onglet {
                font-size: 24px;
                color: $pink;
                text-decoration: none;
                margin-left: 5vh;

                @include for-tablet {
                    margin-left: 1vh;
                    
                }
                @include for-mobile{
                    font-size: 14px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}