.container {

    &_identity {
        display: flex;
        margin-top: 5vh;

        &_item {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &_title {
                width: 85%;
                display: flex;
                flex-wrap: wrap;
                color: $pink;
                
                &_h1 {
                    letter-spacing: 5px;
                    width: 100%;
                    font-size: 40px;
                }

                &_address {
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 25px;
                }
            }

            &_profil {
                display: flex;
                min-width: 15%;
                max-width: 15%;
                justify-content: space-between;
                align-items: center;

                &_name {                  
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 22px;
                    color: $pink;
                    width: 15%;
                }

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }

    &-TR {
        display: flex;
        justify-content: space-between;
        margin-top: 5vh;
       
        &_tags {
            width: 70%;
            display: flex;

            &_item {
                display: flex;
                align-items: center;
                height: 35px;
                background-color: $pink;
                color: $white;
                font-size: 14px;
                margin-right: 1vh;
                padding: 0px 35px 0px 35px;
                border-radius: 15px;
            }
        }

        &_rate {
            width: 15%;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            img {
                width: 30px;
            }
        }
    }

    &_collapse {
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;

        &_item {
            width: calc(50% - 10px);
        }
    }

    &_footer {
        background-color: $black;
    }
}