@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  margin: 3%;
  background-color: $white;
  @include for-tablet{
    margin: 2%;
  }
  
  
}

h1 {
  font-size: 40px;
  margin: 0;
  @include for-tablet{
    font-size: 30px;
  }
  @include for-mobile{
    font-size: 25px;
  }
}

h2 {
  font-size: 30px;
  @include for-tablet{
    font-size: 20px;
  }
  @include for-mobile{
    font-size: 15px;
  }
}

h3 {
  font-size: 22px;
  @include for-tablet{
    font-size: 18px;
  }
  @include for-mobile{
    font-size: 16px;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  @include for-tablet{
    font-size: 16px;
  }
  @include for-mobile{
    font-size: 14px;
  }
} 

address {
  font-size: 25px;
  font-style: normal;
  margin-top: 1vh;
  color: $pink;
  @include for-tablet{
    font-size: 20px;
  }
  @include for-mobile{
    font-size: 18px;
  }
}

button {
  background-color: transparent;
  border: none;
}

li {
  font-size: 18px;
  line-height: 4vh;
  list-style-type: none;
  @include for-tablet{
    font-size: 16px;
  }
  @include for-mobile{
    font-size: 14px;
  }
}