@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  margin: 3%;
  background-color: $white;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 22px;
  font-weight: 400;
} 

address {
  font-size: 18px;
  font-style: normal;
  margin-top: 1vh;
  color: $pink;
}

button {
  background-color: transparent;
  border: none;
}

li {
  font-size: 22px;
  line-height: 4vh;
  list-style-type: none;
}